@import 'bootstrap/dist/css/bootstrap.min.css';

#gallery{
    max-height: 60vh;
    overflow: hidden;
    padding:0;
}
#gallery .col ,#gallery .row{
    padding:0;
}
.galleryone > img, .gallerytwo > img, .gallerythree > img,  .galleryfour > img{
    width:100%;
}
.mobilegallery{
    display: none;
}
/* .desktopview{
    display:block;
} */
@media screen and (max-width:400px) and (max-height:951px) {
    #gallery{
        height:fit-content; 
    }
    .desktopview{
        display: none;
    }
    .mobilegallery{
        display:block;
    }
}