@import 'bootstrap/dist/css/bootstrap.min.css';

#gallery{
    max-height: 60vh;
    overflow: hidden;
    padding:0;
}

.galleryone > img , .gallerytwo > img, .gallerythree > img,  .galleryfour > img{
    width:100%;
}
div.gallerytwo.col-lg-3.col-6, div.galleryone.col-lg-3.col-6, div.galleryfour.col-lg-3.col-6, div.gallerythree.col-lg-3.col-6{
    padding:0;
}
.mobilegallery{
    display: none;
}