@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan: hsl(167, 40%, 24%);
    --Darkblue: hsl(198, 62%, 26%);
    --Darkmoderatecyan : hsl(168, 34%, 41%);
    --Footer: rgb(131, 224, 207);
    --Verydarkdesaturateblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

#testimonials {
    min-height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#testimonials  h2 {
/* color:var(--Darkgrayishblue); */
color:var(--Grayishblue);
font-family: 'Fraunces', serif; 
font-weight: 700;
letter-spacing: .5rem;
padding-top:1rem;
}
.testimonialimage > img{
    width:100%;
    border-radius: 50%;
    height: 5rem;
    margin: 3rem 0 4rem;
}
.testimonials-card  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 3rem 1.5rem;
}
.testimonials-card p {
    color:var(--Darkblue);
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 2.2rem;
}
.testimonials-card h3 {
    color:var(--Verydarkdesaturateblue);
    font-family: 'Fraunces', serif; 
    font-weight: 900;
    font-size: 20px;
    padding-top:4rem;
}
.testimonials-card h4 {
    color:var(--Grayishblue);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

@media screen and (max-width:400px) {
    #testimonials{
        padding:4rem 0;
        overflow-y: hidden;
    }
    #testimonials h2 {
      font-size: 14px;
      letter-spacing: .3rem;
        }
        .testimonials-card  {
            padding: 1rem 3rem;
            /* overflow: hidden; */
        }
        .testimonials-card h3 {
            padding-top:1rem;
        }
}
